<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'timespent', :plugin => 'redmine_monthchart' %>
    <%= stylesheet_link_tag 'colorbox', :plugin => 'redmine_monthchart' %>
    <%= javascript_include_tag 'jquery.min.js', :plugin => 'redmine_monthchart' %>
    <%= javascript_include_tag 'jquery.colorbox-min.js', :plugin => 'redmine_monthchart' %>
<% end %>


<center>
<div class="calendar-container">
<%= render :partial => 'calmain',:locals => {:calendar => @calendar, :month => @month, :year => @year}%>
</div>
</center>